<domain type='kvm'>
    <uuid>${name}</uuid>
    <name>${name}</name>
    <memory>${mem}</memory>
    <vcpu>${cpus}</vcpu>
    <os>
        <type>hvm</type>
        <boot dev="hd" />
        <boot dev="cdrom" />
        <bootmenu enable='yes'/>
    </os>
    <features>
        <acpi/>
        <apic/>
        <pae/>
    </features>
    <devices>
        #set $root_disk_bus = 'virtio'
        <disk type='file' device='disk'>
            <driver type='qcow2'/>
            <source file='${basepath}/disk'/>
            <target dev='vda' bus='${root_disk_bus}'/>
        </disk>
#for $nic in $nics
        <interface type='bridge'>
            <source bridge='${nic[bridge_name]}'/>
            <mac address='${nic[mac_address]}'/>
            <virtualport type="openvswitch"></virtualport>
        </interface>
#end for
        <graphics type='vnc' port='${vnc_port}' listen='0.0.0.0'/>
    </devices>
</domain>
